################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HackerNewsAPI/HackerNewsAPI/obj
/HackerNewsAPI/HackerNewsAPI/bin/Debug/netcoreapp3.1
/HackerNewsAPI/.vs/ProjectEvaluation
/HackerNewsAPI/.vs/HackerNewsAPI/DesignTimeBuild
