################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HackerNewsAPI/HackerNewsAPI/obj
/HackerNewsAPI/HackerNewsAPI/bin/Debug/netcoreapp3.1
/HackerNewsAPI/.vs/ProjectEvaluation
/HackerNewsAPI/.vs/HackerNewsAPI/DesignTimeBuild
/HackerNewsAPI/HackerNewsAPI.Unit.Tests/bin/Debug/netcoreapp3.1
/HackerNewsAPI/HackerNewsAPI.Unit.Tests/obj/Debug/netcoreapp3.1
/HackerNewsAPI/HackerNewsAPI.Unit.Tests/obj
/HackerNewsAPI/.vs/HackerNewsAPI/v17/TestStore/0
/HackerNewsAPI/.vs/HackerNewsAPI/FileContentIndex
