<h1>Hacker News Top Stories</h1>

<p *ngIf="!hackerNewsStories"><em>Loading...</em></p>
<div *ngIf="hackerNewsStories">
  <form>
    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="search($event)">
    </mat-form-field>
  </form>
  <mat-card *ngFor="let story of hackerNewsStories" (click)="open(story.url)">
    <mat-card-content>
      <mat-card-title>{{ story.title }}</mat-card-title>
      <mat-card-subtitle>by {{ story.by }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>